.form
  %form( class = "new_message" action = "")
    .input-box
      %input( placeholder="type a message" class ="input-box__text" type="text")
      %label.input-box__image{for: "message_image"}
        %i.fa.fa-picture-o
        %input( type="file" id="message_image")
    %input(type="submit" value="SEND" class="submit-btn")