.main__messages
  .main__messages__box
    .main__messages__box__user
      = message.user.name
    .main__messages__box__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main__messages__message
    - if message.content.present?
      %p
        = message.content
    = image_tag message.image.url if message.image.present?