.side
  .side__header
    .side__header__box
      %p.side__header__box__user-name
        username
      %ul.side__header__box__menu
        %li.side__header__menu__new-group
          = link_to "" do
            = fa_icon 'edit', class: "icon"
        %li.side__header__menu__edit-user 
          = link_to "" do
            = fa_icon 'cog', class: "icon"
  .groups
    .group
      .group__group-name
        test-group
      .group__latest-message
        さよなら